.Line {
    padding: 14px 0 14px 0;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    position: relative;
    outline: none;
}

.Line:last-of-type {
    border-bottom: none;
}

.Legend, .Pentagram, .InstrumentTools {
    display: inline-block;
    margin: 0 !important;
    box-sizing: border-box;
    padding: 0 !important;
    border: none;
}

.Legend {
    width: 35px;
}

.LineContent {
  padding: 0;
  margin: 0;
}

.LineHeader {
    text-transform: uppercase;
    font-size: 11px;
    color: #777;
    box-sizing: border-box;
}

.LineHeader > span {
    display: inline-block;
    width: 40px;
}

.Line:hover .LineHeader > span {
    font-weight: bold;
}

.BarHeader {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 11px;
    color: #bbb;
    display: none;
}

.block-sm {
    display: inline-block;
}

@media (max-width: 900px) {
    .BarHeader {
        display: block;
    }
    .block-sm {
        display: block;
        margin-bottom: 15px;
    }
    .block-sm:last-child {
        margin-bottom: 0;
    }
}

/* HTEM button */
button.HitTypeEditingModeButton {
    text-align: center;
    display: inline-block;
    width: 56px;
    margin-left: 10px;
    padding: 3px 2px;
    background-color: #ccc;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 10px;
}
button.HitTypeEditingModeButton:active,
button.HitTypeEditingModeButton:focus,
button.HitTypeEditingModeButton:hover {
    border: none;
    box-shadow: none;
    outline: 0;
}
button.HitTypeEditingModeButton.active {
    background-color: #138B51;
}

/* Expand line button in header */
button.CollapsedLineButton {
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    padding: 3px 10px;
    background-color: #ddd;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    border: none;
    font-size: 10px;
}
button.CollapsedLineButton:active,
button.CollapsedLineButton:focus,
button.CollapsedLineButton:hover {
    background-color: #ddd;
    cursor: cell;
}
