.NavbarDropdownSubmenu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #555;
    max-width: 200px;
    min-width: 180px;
    max-height: 232px; /* 8 elements of 29px high each */
    overflow-Y: scroll;
    overflow-X: hidden;
}
