.IconButton {
    background: transparent;
    color: #666;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
}

.IconButton:active,
.IconButton:hover,
.IconButton:focus {
    color: #333;
}

