.Loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: -32px;
}

.LoaderAnimation {
  position: absolute;
  left: 50%;
  margin-left: -32px;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.LoaderAnimation div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #888;
  animation: LoaderAnimation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.LoaderAnimation div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.LoaderAnimation div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.LoaderAnimation div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes LoaderAnimation {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
