@media (min-width: 900px) {
    .Legend.hidden-lg {
        display: none;
    }
}

.InstrumentsTable {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border: none;
    cursor: default;
}

.InstrumentsTable tr {
    border-bottom: 1px solid #ccc;
}

.InstrumentsTable tr:last-child {
    border-bottom: none;
}
