footer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #363636;
}

.Footer {
    max-width: 1000px;
    margin: auto;
    position: relative;
    height: 35px;
}

.Footer > .FooterWatermark {
    padding-top: 0;
    text-align: center;
}

.Footer > .FooterWatermark > div > a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.Footer > .FooterWatermark > div > a:hover {
    text-decoration: underline;
}

.Footer > .FooterWatermark > div > small {
    margin-left: 8px;
    font-size: 11px;
    color: #bbb;
}

.Footer > .FooterWatermark > p {
    font-size: 10px;
    color: #888;
    margin: 0;
    margin-top: 4px;
}

.Footer > .FooterWatermark > p > a {
    font-size: 10px;
    color: #aaa;
    text-decoration: none;
}

.Footer > .FooterWatermark > p > a:hover {
    color: #ccc;
}

.Footer .FooterLinks {
    color: #aaa;
    font-size: 11px;
    position: absolute;
    top: 6px;
    right: 0;
    text-align: right;
}

.Footer > .FooterLinks .FooterLinksSite {
    background-color: #444;
    padding: 6px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
    display: inline-block;
    margin-left: 6px;
}

.Footer > .FooterLinks .FooterLinksSite:first-child {
    margin-right: 0;
}

.Footer > .FooterLinks .FooterLinksSite > span {
    margin-left: 4px;
}

@media (max-width: 470px) {
    .Footer > .FooterLinks .FooterLinksSite > span.hidden-xs {
        display: none;
    }
}

.Footer > .FooterLinks a {
    text-decoration: none;
    color: #eee;
}

.Footer > .FooterLinks .FooterLinksSite:hover {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

@media(max-width: 900px) {
    .Footer > .FooterWatermark {
        text-align: left;
    }
    .Footer > .FooterWatermark > small {
        display: block;
        margin-top: 5px;
        margin-left: 0;
     }
    .Footer .FooterLinks {
        text-align: right;
        top: 6px;
    }
}
