.ToolsButton {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-right: 4px;
  border: none;
  box-sizing: border-box;
  font-size: 0;
}

.ToolsButton:last-of-type {
  margin-right: 0;
}

.ToolsButton button {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .ToolsButton {
    padding: 0;
    margin: 0 2px;
  }
  .ToolsButton button {
    padding: 5px 3px;
    height: 37px;
    width: 37px;
  }
}

/* Default */
.ToolsButton.btn-default {
  background-color: #d3d3d3;
}
.ToolsButton.btn-default button:active,
.ToolsButton.btn-default button.active,
.ToolsButton.btn-default button:focus,
.ToolsButton.btn-default button:hover {
  background-color: #c4c4c4;
}

/* Success */
.ToolsButton.btn-success {
  background-color: #16A45F;
}
.ToolsButton.btn-success button {
  color: #fff;
}
.ToolsButton.btn-success button:active,
.ToolsButton.btn-success button.active,
.ToolsButton.btn-success button:focus,
.ToolsButton.btn-success button:hover {
  background-color: #138B51;
}

.ToolsButton.btn-success button.active {
  background-color: #062d1a;
}
