.GlobalNavbar {
    width: 100%;
    padding: 0;
    background-color: #333;
    color: #fff;
    display: block;
    height: 32px !important;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

.GlobalNavbar .Modal {
    color: black;
}
