.PlayButtonPreview {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 0;
    width: 24px;
    height: 24px;
}

.PlayButtonPreview button {
    text-align: center;
    position: absolute;
    top: 7px;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    outline: none;
    font-size: 11px;
    background-color: #6DA9D8;
    border: 1px solid #fff;
    color: #fff;
}

.PlayButtonPreview button.active {
    background-color: #022545;
}
