.HTEMButtonPreview {
    text-align: center;
    display: inline-block;
    width: 56px;
    padding: 3px 1px;
    background-color: #ccc;
    border-radius: 2px;
    color: white;
    border: none;
    font-size: 11px;
    cursor: default;
}

.HTEMButtonPreview.active {
    background-color: #138B51;
}