.Error {
    background-color: #D1D5DD;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.ErrorBox {
    text-align: center;
    max-width: 50%;
    padding: 20px;
}

.ErrorBox > h1 {
    font-size: 100px;
    margin-top: -20px;
}

.ErrorBox > div:first-of-type {
    font-size: 20px;
    margin-top: -60px;
}

.ErrorBox > div:last-of-type {
    font-size: 20px;
    margin-top: 16px;
}
