.LineTools {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 0;
  padding: 0;
  box-sizing: border-box;
}

.ToolsButtonText.only-sm {
  font-size: 11px;
  display: none;
}

.ToolsButtonText.only-lg {
  display: inline;
  margin-left: 5px;
}

.LineTools .row {
  display: block;
  margin-bottom: 6px;
}

@media (max-width: 900px) {
  .ToolsButtonText.only-sm {
    display: block;
    text-align: center;
  }
  .ToolsButtonText.only-lg {
    display: none;
    margin-left: 0;
  }
}
