.ProjectNavbar {
    padding: 20px;
    margin: 0;
    margin-top: 32px;
    width: 100%;
    background: #ddd;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.ProjectNavbar > .header-element {
    display: inline-block;
    margin-right: 12px;
}

.ProjectNavbar > .header-help {
  font-size: 11px;
  color: #777;
  margin-bottom: 12px;
}

.ProjectNavbar > .header-element.buttons-right {
    font-size: 0;
    margin: 0;
    float: right;
    height: 32px;
    position: relative;
}

@media (max-width: 900px) {
    .ProjectNavbar > .header-element {
        text-align: center;
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
    .ProjectNavbar > .header-element.inline-sm {
      display: inline-block;
    }
    .ProjectNavbar > .header-help {
      text-align: center;
    }
    .ProjectNavbar .header-element:last-child {
        margin-bottom: 0;
    }
    .ProjectNavbar > .header-element.buttons-right {
        float: none;
        display: block;
    }
}
