.PlayProjectButtonPreview {
    position: relative;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}

.PlayProjectButtonPreview button {
    position: absolute;
    top: 11px;
    left: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    outline: none;
    font-size: 11px;
    background-color: #6DA9D8;
    color: #fff;
    border: 2px solid #eee;
}

.PlayProjectButtonPreview.active button {
    background-color: #022545;
}
