.Input {
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
    box-sizing: border-box;
    height: 28px !important;
    position: relative;
}

.Input input {
    border: none;
    font-size: 12px;
    padding: 7px 6px;
}

.Input input:disabled {
    cursor: not-allowed;
}

.InputAddon {
    position: absolute;
    height: 28px;
    box-sizing: border-box;
    background-color: #777;
    color: white;
    padding: 4px 6px;
    top: 0;
    left: 100%;
    width: 20px;
    font-size: 9px;
    cursor: pointer;
    border: none;
}

.InputAddon:hover,
.InputAddon:focus,
.InputAddon:active {
    background-color: #666;
}

.InputAddon.active {
    background-color: #444;
}

.InputAddon.active:hover,
.InputAddon.active:focus,
.InputAddon.active:active {
    background-color: #666;
}
