.AuthContainer {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.Auth {
    display: block;
    margin: 0;
    padding: 40px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #D1D5DD;
}

.Auth > .AuthHeader {
    text-align: center;
    position: relative;
    margin: auto;
    width: 380px;
    padding: 0 0 10px 0;
}

.Auth > .AuthHeader > div {
    display: block;
    margin-bottom: 4px;
}

.Auth > .AuthHeader > div.AuthHeaderText {
    font-size: 24px;
    color: #777;
}

.Auth > .AuthHeader img {
    max-height: 110px;
}

.Auth > .AuthBox {
    position: relative;
    box-sizing: border-box;
    margin: auto;
    background-color: white;
    width: 380px;
    padding: 40px 30px;
    min-height: 251px;
}

.Auth > .AuthBox > .AuthBoxHeader {
    text-align: center;
    color: #666;
    font-size: 12px;
    margin-bottom: 28px;
}

.Auth > .AuthBox > .AuthBoxLogin button {
    margin-bottom: 10px;
}

.Auth > .AuthBox > .AuthBoxLogin button:last-child {
    margin-bottom: 0;
}

.Auth > .AuthFooter {
    text-align: center;
    position: relative;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10px;
    width: 380px;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

.Auth > .AuthFooter.FooterSuccess {
    background-color: #00a65a;
    border-color: #128C4B;
}

.Auth > .AuthFooter.FooterSuccess a {
    color: #064f28;
    font-weight: bold;
    text-decoration: none;
}

.Auth > .AuthFooter.FooterError {
    background-color: #DE4B3F;
    border-color: #D4372D;
}

/* SIGNUP SPECIAL ROW */
.SignUpRow > .TermsConditionsInput {
    color: #111;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 18px;
}
.SignUpRow > .TermsConditionsText {
    color: #888;
    font-size: 10px;
}
.SignUpRow > .TermsConditionsText > .PrivacyPolicyLink {
    color: #3c8dbc;
    text-decoration: underline;
    cursor: pointer;
}
.SignUpRow > .TermsConditionsFooter {
    margin-top: 15px;
}

/* SIGNIN SPECIAL ROW */
.SignInRow {
    color: #888;
    font-size: 12px;
}
.SignInRow a {
    color: #3c8dbc;
    text-decoration: underline;
}
.SignInRow a:hover {
    color: #397BA1;
    text-decoration: underline;
}

@media (max-width: 496px) {
    .Auth {
      padding: 20px;
    }

    .Auth > .AuthHeader,
    .Auth > .AuthBox,
    .Auth > .AuthFooter {
        width: 100%;
    }

    .Auth > .AuthHeader > div.AuthHeaderText {
        font-size: 18px;
    }

    .Auth > .AuthHeader img {
        max-height: 90px;
    }

    .Auth > .AuthBox {
        padding: 26px;
        min-height: 215px;
    }

    .Auth > .AuthBox > .AuthBoxHeader {
        margin-bottom: 20px;
    }
}
