.ImageLoader {
    height: 100%;
    width: 100%;
}

.ImageLoaderAnimation {
    position: absolute;
    left: 50%;
    margin-left: -32px;
    display: inline-block;
    width: 44px;
    height: 32px;
}

.ImageLoaderAnimation div {
    display: inline-block;
    position: absolute;
    left: 4px;
    width: 7px;
    background: #888;
    animation: ImageLoaderAnimation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.ImageLoaderAnimation div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.ImageLoaderAnimation div:nth-child(2) {
    left: 18px;
    animation-delay: -0.12s;
}

.ImageLoaderAnimation div:nth-child(3) {
    left: 29px;
    animation-delay: 0;
}

@keyframes ImageLoaderAnimation {
    0% {
        top: 6px;
        height: 20px;
    }
    50%, 100% {
        top: 11px;
        height: 13px;
    }
}
