.Select {
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
    box-sizing: border-box;
}

.Select > select {
    border: none;
    font-size: 12px;
    padding: 6px 3px;
    background-color: #fff;
}

.Select > select:disabled {
    cursor: not-allowed;
    background-color: #eee;
}

.Select > select > option {
    text-align: center;
}