.Separator {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  background-color: #aaa;
  border-bottom: none;
  text-transform: uppercase;
  font-size: 12px;
  min-height: 14px;
  padding: 6px 0;
}

.Separator input {
  width: 200px;
  font-family: inherit;
  text-align: center;
  font-size: 12px;
  padding: 6px 8px;
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.Separator input:focus {
  background-color: #eee;
  border: 1px solid #999;
}
