.ProjectPlayerButton {
    position: relative;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}

.ProjectPlayerButton button {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    outline: none;
    font-size: 11px;
    cursor: pointer;
    background-color: #6DA9D8;
    color: #fff;
    border: 2px solid #eee;
}

.ProjectPlayerButton button:hover {
    background-color: #4D89B8;
}

.ProjectPlayerButton.active button {
    background-color: #022545;
}
