.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
}

.Backdrop.transparent {
    background-color: transparent;
}
