.ColorMenu {
    padding: 10px;
    width: 69px;
    height: auto;
    border-radius: 4px;
    border-top-right-radius: 0;
    background-color: #777;
    position: absolute;
    right: 61px;
    top: 10px;
}

.ColorMenu svg {
    position: absolute;
    top: -6px;
    right: -2px;
    color: #777;
    transform: rotate(-135deg);
    font-size: 16px;
}

.ColorMenuColor {
    width: 20px;
    height: 20px;
}

.ColorMenu button {
    padding: 0;
    margin: 0;
    border: none;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}

.ColorMenuList {
    font-size: 0;
}
