.LinePlayButton {
    display: inline;
    position: relative;
    margin: 0;
    margin-right: 8px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 0;
}

.LinePlayButton button {
    text-align: center;
    position: absolute;
    top: -16px;
    left: -20px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    outline: none;
    font-size: 9px;
    cursor: pointer;
    background-color: #6DA9D8;
    border: 1px solid #fff;
    color: #fff;
}

.LinePlayButton button:hover {
    background-color: #4D89B8;
}

.LinePlayButton button.active {
    background-color: #022545;
}

.LinePlayButton button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.LinePlayButton button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
