.ButtonPreview {
    padding: 1px 6px;
    border-radius: 1px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block;
    cursor: default;
}