.Alert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.AlertContent {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #fff;
  opacity: 0.9;
}

.AlertDismiss {
  position: absolute;
  top: 10px;
  right: 12px;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.AlertSuccess {
  background-color: #00a65a;
  border-color: #008D52;
}

.AlertDanger {
  background-color: #DE4B3F;
  border-color: #D4372D;
}

.AlertWarning {
  background-color: #F49B30;
  border-color: #DB8B2A;
}

.AlertInfo {
  background-color: #3D8BB9;
  border-color: #377BA2;
}
