.LinesPlaceholder {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    height: 92px;
    font-size: 14px;
}

.LinesPlaceholder > div {
    width: 200px;
    margin: auto;
}

.LinesPlaceholder span {
    margin: auto;
    display: block;
    margin-top: 4px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    padding: 5px 8px;
    border-radius: 1px;
    border: 1px solid #bbb;
    max-width: 132px;
}

@media (min-width: 1200px) {
    .LinesPlaceholder {
        margin-top: 100px;
        font-size: 18px;
        top: 100%;
    }
    .LinesPlaceholder > div {
        width: 300px;
    }
    .LinesPlaceholder span {
        display: inline-block;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .LinesPlaceholder {
        margin-top: -46px;
        font-size: 18px;
        top: 100%;
    }
    .LinesPlaceholder > div {
        width: 300px;
    }
    .LinesPlaceholder span {
        display: inline-block;
    }
}

@media (max-height: 480px) {
    .LinesPlaceholder {
       top: 40px;
    }
}

@media (max-height: 430px) {
    .LinesPlaceholder {
        display: none;
    }
}

.LinesPlaceholder p {
    font-family: 'Titillium Web', sans-serif;
    color: #aaa;
    margin: 0;
}

.LinesPlaceholder p.p1 {
    font-weight: 600;
    margin-bottom: 14px;
}

.LinesPlaceholder p.p2 {
    font-size: 0.8em;
}

.LinesPlaceholder a {
    color: #aaa;
}

.LinesPlaceholder a:hover,
.LinesPlaceholder a:focus,
.LinesPlaceholder a:active {
    color: #ccc;
}
