.NavbarWatermark {
  height: 32px;
  padding: 8px;
  font-size: 12px;
  color: #aaa;
  display: inline-block;
  float: right;
  box-sizing: border-box;
}

.NavbarWatermark > span.only-sm {
  display: none;
}
.NavbarWatermark > span.only-lg {
  display: inline;
}

@media (max-width: 900px) {
  .NavbarWatermark > span.only-sm {
    display: inline;
  }
  .NavbarWatermark > span.only-lg {
    display: none;
  }
}
