.App {
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
}

/* Label at the right of a font awesome icon */
.IconLabel {
    margin-left: 4px;
}
