/* Vertical stacking */
.Lines {
    z-index: auto;
}
.LinesContainer {
    z-index: auto;
}
.SheetBuilder {
    z-index: 10;
}
.LabelTip {
    z-index: 20;
}
.GlobalNavbar,
.NavbarLogo,
.NavbarButton,
.NavbarWatermark {
    z-index: 30;
}
footer {
    z-index: 40;
}
.Footer {
    z-index: 41;
}
.Alert {
    z-index: 80;
}
.Backdrop {
    z-index: 100;
}
.Loader {
    z-index: 110;
}
.ToolsDropdownContent {
    z-index: 111;
}
.HitTypes {
    z-index: 112;
}
.ColorMenu,
.ColorMenuList{
    z-index: 113;
}
.NavbarDropdown,
.DropdownOption {
    z-index: 113;
}
.Modal {
    z-index: 500;
}
