.PrivacyPolicy {
    margin: 20px 10px;
    max-height: 200px;
    overflow-y: scroll;
    text-align: left;
    border: none;
    padding: 10px;
}

.PrivacyPolicy > h3 {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    margin-bottom: 20px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    color: #444;
}

.PrivacyPolicy > p {
    color: #777;
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
}

.PrivacyPolicy > ul {
    margin-top: -10px;
    margin-bottom: 20px;
}

.PrivacyPolicy > ul > li {
    color: #999;
    font-size: 12px;
}

.PrivacyPolicy > p > a {
    color: #3c8dbc;
    text-decoration: none;
}

.PrivacyPolicy > p > a:hover {
    color: #397BA1;
}

.PrivacyPolicyHeader > p {
    font-size: 14px;
    color: #111;
}

.PrivacyPolicyHeader > p > a {
    font-family: 'Titillium Web', sans-serif;
    color: #3c8dbc;
    text-decoration: none;
}

.PrivacyPolicyHeader > p > a:hover {
    color: #397BA1;
}

@media(max-width: 600px) {
    .PrivacyPolicy {
        max-height: 150px;
    }
}
