.InstrumentToolsButtonPreview {
    padding: 1px 6px;
    border-radius: 1px;
    border: none;
    color: #111;
    font-size: 12px;
    display: inline-block;
    cursor: default;
    background-color: #d3d3d3;
}

.InstrumentToolsButtonPreview.child {
    padding: 4px 6px;
    background-color: #ddd;
}
