.Modal {
    position: fixed;
    background-color: white;
    width: 90%;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 16px #444;
    padding: 0;
    left: 5%;
    top: 5%;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    border-radius: 4px;
}

.ModalHeader {
  position: relative;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}

.ModalHeader > h2 {
  font-size: 15px;
  margin: 0;
  color: #444;
}

.ModalHeader button {
  color: #bbb;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #fff;
  padding: 3px;
  cursor: pointer;
}

.ModalBody {
  padding: 20px 20px 30px 20px;
  margin: 0;
  text-align: center;
}

.ModalBody > p {
  font-family: inherit;
  font-size: 12px;
  margin: 0;
  margin-bottom: 15px;
}

.ModalBody > p.ModalTip {
    color: #777;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
        top: 10%;
    }
}
