.NavbarButton {
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    max-height: 32px;
}

.NavbarButton button {
    padding: 9px !important;
    background-color: #333;
    border-right: 1px solid #999;
    border-top: none;
    border-bottom: none;
    border-left: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    position: relative;
    min-width: 60px;
    max-height: 32px;
}

.NavbarButton button svg {
    color: #777;
}

.NavbarButton button:active,
.NavbarButton button:focus,
.NavbarButton button:hover {
    background-color: #444;
}

.NavbarButton button:disabled {
    background-color: #333;
    color: #777;
    cursor: not-allowed;
}
