.Callout {
    margin: 10px 0;
    padding: 15px 15px;
    border-radius: 3px;
    border-left: 5px solid #eee;
    color: #fff;
    position: relative;
}

.Callout > h1 {
    font-family: 'Titillium Web', sans-serif;
    border: none;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    margin-bottom: 6px;
}

.Callout > span {
    margin: 0;
    font-size: 13px;
}

.Callout > .CalloutLabel {
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}
.Callout.Tip {
    color: #111;
    background-color: #ccc;
    border-color: #aaa;
}
.Callout.Tip > .CalloutLabel {
    color: #aaa;
}


/* Success */
.Callout.Success {
    background-color: #00a65a;
    border-color: #00733e;
}
.Callout.Success > .CalloutLabel {
    color: #00733e;
}

/* Info */
.Callout.Info {
    background-color: #3D799B;
    border-color: #183856;
}
.Callout.Info > .CalloutLabel {
    color: #183856;
}

/* Warning */
.Callout.Warning {
    background-color: #f39c12;
    border-color: #C87F26;
}
.Callout.Warning > .CalloutLabel {
    color: #C87F26;
}
