.HitTypes {
    width: 99px;
    height: auto;
    position: absolute;
    left: -40px;
    padding: 3px;
    background-color: #888;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    cursor: default;
    padding-bottom: 0;
}
