.CookiePolicy {
    margin: 20px 10px;
    max-height: 200px;
    overflow-y: scroll;
    text-align: left;
    border: none;
    padding: 10px;
}

.CookiePolicy > h3 {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    margin-bottom: 20px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    color: #444;
}

.CookiePolicy > p {
    color: #777;
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
}

.CookiePolicy > ul {
    margin-top: -10px;
    margin-bottom: 20px;
}

.CookiePolicy > ul > li {
    color: #999;
    font-size: 12px;
}

.CookiePolicy > p > a {
    color: #3c8dbc;
    text-decoration: none;
}

.CookiePolicy > p > a:hover {
    color: #397BA1;
}

.CookiePolicyHeader > p {
    font-size: 14px;
    color: #111;
}

.CookiePolicyHeader > p > a {
    font-family: 'Titillium Web', sans-serif;
    color: #3c8dbc;
    text-decoration: none;
}

.CookiePolicyHeader > p > a:hover {
    color: #397BA1;
}

@media(max-width: 600px) {
    .CookiePolicy {
        max-height: 150px;
    }
}
