.ToolsDropdown {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
}

.ToolsDropdownButton {
  margin: 0;
  padding: 0;
  min-width: 60px;
  min-height: 100%;
  border: none;
  background-color: #d3d3d3;
  cursor: pointer;
}

.ToolsDropdownContent .ToolsDropdownButton {
  font-size: 12px;
  min-height: 20px;
}