.Bar {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 0;
    display: inline-block;
    border-right: 1px solid black;
}

.Bar table {
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.Bar.no-border {
    border-right: none;
}

@media (max-width: 900px) {
    .Bar {
        border-right: none;
    }
}

.Bar table td {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    background-color: #fff;
    max-height: 23px !important;
    max-width: 23px !important;
    border: none !important;
    font-size: 0;
}

.Bar table tr {
    border-bottom: 1px solid #ccc;
}

.Bar table tr:last-child {
    border-bottom: none;
}

