.Instrument {
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 23px !important;
    max-height: 23px !important;
    background-color: transparent;
    cursor: pointer;
}

.Instrument.EditingMode.EditingModeSelected {
    background-color: #ddd;
}

.Instrument.disabled {
    cursor: default;
}

.Instrument:hover {
    background-color: #eee;
}

.Instrument.disabled:hover {
    background-color: #fff;
}
