.ShortcutsModal {
    max-height: 500px;
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
    padding: 0 20px;
}

@media (max-height: 700px) {
    .ShortcutsModal {
        max-height: 400px;
    }
}

.ShortcutsModal h1 {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 16px;
    color: #222;
    font-family: 'Titillium Web', sans-serif;
}

.ShortcutsModal h4 {
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #aaa;
    font-weight: normal;
}

.ShortcutsModal table {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.ShortcutsModal table tr {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.ShortcutsModal table tr:last-child {
    border-bottom: none;
}

.ShortcutsModal table tr td {
    padding: 8px;
    width: auto;
    font-size: 12px;
}

@media (max-width: 600px) {
    .ShortcutsModal table tr td {
        padding: 8px 5px;
    }
}

.ShortcutsModal table tr td:first-child {
    width: 80px;
    padding-right: 0;
}

.ShortcutsModal table tr:nth-child(even) {
    background-color: #eee;
}

.ShortcutsModal .KeyContainer {
    display: inline-block;
    height: auto;
    margin-right: 8px;
}
