.KeyboardKey {
    padding: 3px 5px;
    background-color: #222;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    min-width: 10px;
    text-align: center;
}

.KeyboardKeyPlus {
    margin: 0 4px;
}
