.InstrumentTools {
    display: inline-block;
}

@media (min-width: 900px) {
    .InstrumentTools.hidden-lg {
        display: none;
    }
}

.InstrumentToolsTable td {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-height: 23px !important;
}

.InstrumentToolsTable {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border: none;
}

.InstrumentToolsTable tr {
    border-bottom: 1px solid #ccc;
}

.InstrumentToolsTable tr:last-child {
    border-bottom: none;
}

.InstrumentToolsTable td {
    background-color: #d3d3d3;
    font-size: 11px;
}
