.btn-file {
    color: #111;
    text-transform: none;
    border: 1px solid #ccc;
    background-color: #eee;
}
.btn-file > span.btn-file-icon {
    margin-right: 4px;
}
.btn-file:active, .btn-file:hover, .btn-file:focus {
    border: 1px solid #bbb;
    background-color: #ddd;
}

/* PDF button */
.btn-pdf > span.btn-file-icon {
    color: #e14C3E;
}

/* WAV button */
.btn-wav > span.btn-file-icon {
    color: #3FA6FA;
}

/* MP3 button */
.btn-mp3 > span.btn-file-icon {
    color: #111;
}
