.ToolsDropdownContent {
    width: 120px;
    position: absolute;
    left: -30px;
    background-color: #e3e3e3
}

.ToolsDropdownContent button {
    width: 100%;
    background-color: #e3e3e3;
}

.ToolsDropdownContent button:hover,
.ToolsDropdownContent button:focus {
    background-color: #d3d3d3 !important;
}
