.CheckboxContainer {
    width: auto;
    display: block;
    position: relative;
    padding-left: 21px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.CheckboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.Checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #ddd;
}

/* On mouse-over, add a grey background color */
.CheckboxContainer:hover input ~ .Checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a background */
.CheckboxContainer input:checked ~ .Checkmark.checkmark-blue {
    background-color: #3c8dbc;
}
.CheckboxContainer input:checked ~ .Checkmark.checkmark-green {
    background-color: #138B51;
}
.CheckboxContainer input:checked ~ .Checkmark.checkmark-yellow {
    background-color: #F29B33;
}
.CheckboxContainer input:checked ~ .Checkmark.checkmark-red {
    background-color: #e14C3E;
}
.CheckboxContainer input:checked ~ .Checkmark.checkmark-gray {
    background-color: #444444;
}

/* Create the Checkmark/indicator (hidden when not checked) */
.Checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the Checkmark when checked */
.CheckboxContainer input:checked ~ .Checkmark:after {
    display: block;
}

/* Style the Checkmark/indicator */
.CheckboxContainer .Checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.CheckboxContainer > small {
    margin-left: 4px;
    display: inline;
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
    color: #888;
}