.Help {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HelpContainer {
    margin: 0 auto;
    margin-top: -32px;
    padding-top: 32px;
    height: 100%;
    box-sizing: border-box;
}

/* SECTION TITLE */

.HelpMenu > h1 {
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 19px;
    color: #222;
}

.HelpMenu > h1 > small {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3c8dbc;
    margin-left: 4px;
}

/* HELP MENU */

.HelpMenu {
    width: 100%;
    padding: 20px;
    background-color: #ddd;
    box-sizing: border-box;
}

.HelpMenu > .MenuListContainer {
    margin: 0 auto;
    box-sizing: border-box;
}

.HelpMenu > .MenuListContainer .mb {
    margin-bottom: 5px;
}

.HelpMenu > .MenuListContainer div,
.HelpMenu > .MenuListContainer button {
    text-align: left;
    width: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 3px;
    color: #444;
    display: block;
}

.HelpMenu > .MenuListContainer button:hover {
    color: #3c8dbc;
}

.HelpMenu > .MenuListContainer button > span {
    color: #222;
    font-weight: bold;
}

.HelpMenu > .MenuListContainer div {
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
}

.HelpMenu > .MenuListContainer > div button {
    font-size: 14px;
}

.HelpMenu > .MenuListContainer > div > div button {
    padding-left: 26px;
    font-size: 14px;
}

.HelpMenu > .MenuListContainer > div > div > div button {
    padding-left: 36px;
    font-size: 13px;
}

.HelpMenu > .MenuListContainer > div > div > div > div button {
    padding-left: 46px;
    font-size: 13px;
}

/* HELP BODY */

.HelpBody {
    color: #666;
    height: auto;
    font-size: 14px;
    padding: 0 20px 120px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.HelpBody > p > b {
    color: #444;
}

.HelpBody > p {
    margin-bottom: 20px;
    line-height: 20px;
}

.HelpBody > p > i {
    font-size: 12px;
    line-height: 13px;
}

.HelpBody .ml-10 {
    margin-left: 10px;

}

.HelpBody .ml-20 {
    margin-left: 20px;

}

.HelpBody div.img-container > .ImageContainer {
    height: auto;
    margin-bottom: 5px;
    max-width: 100%;
}

.HelpBody div.img-container {
    text-align: center;
    margin-bottom: 20px;
}

.HelpBody div.img-container > div.img-legend {
    font-size: 11px;
    color: #888;
}

.Help a {
    color: #3c8dbc;
    text-decoration: none;
}

.Help a:hover {
    color: #397BA1;
    text-decoration: none;
}

.HelpContainer h1,
.HelpContainer h2,
.HelpContainer h3,
.HelpContainer h4,
.HelpContainer h5 {
    font-family: 'Titillium Web', sans-serif;
    color: #111;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 3px;
}

.HelpContainer h1 > span,
.HelpContainer h2 > span,
.HelpContainer h3 > span,
.HelpContainer h4 > span,
.HelpContainer h5 > span{
    margin-right: 6px;
}

.HelpContainer h1 {
    padding-top: 0;
    border-bottom: 1px solid #444;
    font-size: 20px;
    color: #111;
}

.HelpContainer h2 {
    font-size: 19px;
    color: #222;
    margin-left: 10px;
    border-bottom: 1px solid #666;
}

.HelpContainer h3 {
    font-size: 18px;
    color: #444;
    margin-left: 20px;
    border-bottom: 1px solid #888;
}

.HelpContainer h4 {
    font-size: 16px;
    color: #444;
    margin-left: 20px;
    border-bottom: 1px solid #888;
}

.HelpBody > ul {
    margin-top: 0;
    margin-bottom: 30px;
}

.HelpBody ul > li {
    margin-bottom: 8px;
}

.HelpBody ul > li > ul {
    margin-top: 10px;
}

.HelpBody ul > li > ul > li {
    font-size: 13px;
    margin-bottom: 4px;
}

.HelpBody div.table-container > h4 {
    color: #222;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 0;
    margin-bottom: 6px;
    border: none;
}

.HelpBody div.table-container {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.HelpBody div.table-container table {
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0 auto;
    border-collapse: collapse;
}

.HelpBody div.table-container table img {
    border-collapse: collapse;
    max-width: 17px;
    margin-top: 3px;
}

.HelpBody div.table-container table tr {
    border: none;
    margin: 0;
    padding: 0;
}

.HelpBody div.table-container table td,
.HelpBody div.table-container table th {
    margin: 0;
    padding: 1px 5px;
    border-bottom: 1px solid #bbb;
    vertical-align: middle;
}

.HelpBody div.table-container table th > small {
    font-size: 10px;
    display: block;
    margin-top: -3px;
    font-weight: 400;
}

.HelpBody div.table-container table > tbody > tr:last-child td {
    border-bottom: none;
}

.HelpBody div.table-container table > tbody tr:nth-child(odd) {
    background-color: #ddd;
}

.HelpBody div.table-container table > tbody tr:nth-child(even) {
    background-color: #ccc;
}

.HelpBody .HitTypeLabelsTable th, .HelpBody .HitTypeLabelsTable td {
    min-width: 50px;
}

.HelpBody .HitTypeLabelsTable {
    display: inline-block;
}

@media(max-width: 800px) {
    .HelpBody .HitTypeLabelsTable {
        display: block;
        margin-top: 20px;
    }
    .HelpBody .HitTypeLabelsTable:first-child {
        margin-top: 0;
    }
}

@media(min-width: 800px) {
    .HelpBody div.table-container.responsive {
        width: 33%;
    }
}

@media(min-width: 550px) and (max-width: 799px) {
    .HelpBody div.table-container.responsive {
        width: 50%;
    }
}

@media(max-width: 549px) {
    .HelpBody div.table-container.responsive {
        width: 100%;
    }
}

/* RESPONSIVE DESIGN */

.HelpMenu,
.HelpBody {
    display: block;
    float: left;
}

.HelpBody {
    width: 100%;
}

@media(min-width: 1200px) {
    .HelpMenu,
    .HelpBody {
        display: inline-block;
    }
    .HelpMenu {
        padding-top: 0;
        padding-bottom: 0;
        width: 25%;
        height: 100%;
        position: fixed;
        top: 32px;
    }
    .HelpBody {
        margin-top: 32px;
        margin-left: 25%;
        width: 75%;
    }
}

@media(max-width: 1199px) {
    .HelpMenu {
        padding-top: 52px;
    }
    .HelpMenu h1 {
        margin-top: 0;
    }
    .HelpMenu,
    .HelpBody {
        display: block;
        float: left;
    }
}
