.btn {
    padding: 8px 15px;
    border-radius: 1px;
    border: none;
    color: white;
    background-color: #777;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 8px;
    font-size: 11px;
}

.btn-label {
  font-size: 10px;
}

.btn.icon-btn {
    padding: 8px 10px;
}

/* PRIMARY */
.btn-primary {
    background-color: #3c8dbc;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #397BA1;
}

/* DANGER */
.btn-danger {
    background-color: #e14C3E;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    background-color: #D13C2E;
}

/* WARNING */
.btn-warning {
    background-color: #F29B33;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
    background-color: #D98A2D;
}

/* SUCCESS */
.btn-success {
    background-color: #224565;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
    background-color: #022545;
}

/* DARK */
.btn-dark {
    background-color: #777777;
}
.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background-color: #555555;
}

/* DEFAULT */
.btn-default {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #666;
    text-transform: none;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background-color: #ddd;
    color: #444;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
