.NavbarDropdown {
  position: absolute;
  top: 32px;
  background-color: #444;
  width: 190px;
}

.DropdownOption {
  padding: 8px;
  cursor: pointer;
  font-size: 12px;
  position: relative;
}

.DropdownOption:hover {
  background-color: #666;
}

.DropdownOption.disabled {
  color: #777;
  cursor: not-allowed;
}

.NavbarDropwdownSubmenu {
  min-width: 64px;
  max-height: 232px; /* 8 elements of 29px high each */
  overflow-Y: scroll;
  left: 100%;
}

.DropdownOptionPost {
  margin-left: 8px;
  float: right;
}

.DropdownOptionPost small {
  color: #999;
}

.DropdownOptionPre {
  display: inline-block;
  min-width: 15px;
  text-align: center;
  margin-right: 5px;
  color: #999;
}
