.ProjectNavbarButton {
    position: relative;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}

.ProjectNavbarButton button {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    outline: none;
    cursor: pointer;
    background-color: #c4c4c4;
    color: #fff;
    border: 2px solid #e2e2e2;
}

.ProjectNavbarButton button img {
    max-width: 16px;
}

.ProjectNavbarButton button:hover {
    background-color: #aaa;
}

.ProjectNavbarButton.active button {
    background-color: #777;
}
