.FormRow {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
}

.FormRow > .FormRowInput {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.FormRow > .FormRowInput > input {
    display: block;
    margin: 0;
    width: 100%;
    height: 30px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 5px 10px 5px 38px;
    box-shadow: none;
    border: 1px solid #d2d6de;
    background-color: white;
}

.FormRow > .FormRowInput > input:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

.FormRow > .FormRowInput > .FormRowAddon {
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    padding: 7px;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 28px;
    width: 28px;
    background-color: #ddd;
}

.FormRow > .ValidationMessage {
    width: 100%;
    margin-top: 6px;
    font-size: 11px;
}
.FormRow > .ValidationMessage.Valid {
    color: #777;
}
.FormRow > .ValidationMessage.Invalid {
    color: #ccc;
}
.FormRow > .ValidationMessage > span {
    margin-right: 3px;
}
.FormRow > .ValidationMessage > .Valid {
    color: #00a65a;
}
.FormRow > .ValidationMessage > .Invalid {
    color: #ccc;
}
