.NavbarLogo {
  width: 36px;
  height: 32px;
  display: inline-block;
  padding: 3px 5px;
  box-sizing: border-box;
  float: left;
  border-right: 1px solid #999;
}

.NavbarLogo img {
  height: 26px;
  width: 26px;
}