.HitType {
    width: 45px;
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: #d4d4d4;
    padding: 2px;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
    margin-bottom: 3px;
}

.HitType:nth-child(odd) {
    margin-right: 3px;
}

.HitTypeLabel {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 8px;
    height: 9px !important;
    overflow: hidden;
    width: 100%;
}

.HitTypeIcon {
    text-align: center;
    max-width: 23px;
    max-height: 23px;
    margin: auto;
    padding: 1px;
    background-color: white;
    border-radius: 50%;
}

.HitTypes .HitType:last-child {
    margin-right: 0;
}

.HitTypeIcon > .Instrument {
    width: 100% !important;
}

.HitType:active,
.HitType.active,
.HitType:focus,
.HitType:hover {
    background-color: #eee;
}

.HitTypeIcon .Instrument:hover {
    background-color: transparent;
}
