.ImageContainer {
    position: relative;
    display: block;
    margin: auto;
    min-height: 32px;
}

.ImageContainer img {
    margin: auto;
    display: block;
    max-width: 100%;
}

.ImageContainer img.hidden {
    display: none;
}
